@model IEnumerable<eLibrary.Models.Series>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @if (Model != null)
{
    <form method="post" action="Create" class="form-horizontal" role="form">
        <legend>Добавление серии</legend>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Наименование серии:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="name" name="serieName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Описание:</label>
            <div class="col-sm-7">
                <textarea cols="36" id="description" name="Annotation" rows="7" class="form-control input-sm"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-7">
                <button type="submit" class="btn btn-default">Сохранить</button>
            </div>
        </div>
    </form>

        using (Ajax.BeginForm("SerieSearch", null, new AjaxOptions { UpdateTargetId = "searchresultsSerie"}, new { @class = "form-horizontal" }))
        {
            <legend>Поиск серии</legend>
            <div class="form-group">
                <input type="text" name="serieName" class="col-sm-8 input-sm" />
                <div class="col-sm-4">
                    <input type="submit" value="Выбрать" class="btn btn-success btn-sm" />
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-sm-8">
                <div id="searchresultsSerie"></div>
            </div>
        </div>
   
}
    </div>
</div>