@model  IEnumerable<eLibrary.Models.Genre>

<ul class="list-unstyled">
    @foreach (var item in Model)
    {
        <li>
            @*<div class="btn btn-default genre-list">*@
                <a class="btn btn-default genre-list" href="../Genres/Books/@item.Id">@item.Name</a>
            @*</div>*@
        </li>
    }
</ul>