@{
    ViewBag.Title = "Index";
}
@*@Html.Partial("Genres")*@

<div class="row">
    <div class="header">
        <img src="~/content/images/2.png" height="60" alt="dragon">
        <div class="header-text"></div>
    </div>
</div>
@*<div class="row">
    <nav class="navbar navbar-default my-navbar-2">
        <ul class="nav navbar-nav my-navbar-2"></ul>
    </nav>

</div>*@

<div class="row">
    <div class="dragon-left">
        <img src="~/content/images/dragon-black.png" height="200" alt="dragon">
    </div>


    <div class="wrapper col-md-offset-1">
        <h4 class="bold">Жанры</h4>
        <div id="genres" class="col-md-3">
            @Ajax.ActionLink("Жанры", "Genres", null, null,
                new AjaxOptions {UpdateTargetId = "genres"}, new {@class = "", id = "genresButton"})
        </div>
    </div>

    @using (Ajax.BeginForm("BookSearch", null, new AjaxOptions { UpdateTargetId = "searchresults" }, new { @class = "col-md-8 col-md-offset-0" }))
    {
        <input type="text" name="bookName" class="col-md-9 input-sm" placeholder="введите наименование книги" />
        <input type="submit" value="Искать" class="btn btn-sm btn-success col-md-2 col-md-offset-0" />
    }
    <div class="col-md-7 col-md-offset-0">
        @Html.Partial("BookSearch")
    </div>
</div>


<script>
    $('#genresButton').click();
</script>  