@{
    ViewBag.Title = "Index";
}
@*@Html.Partial("Genres")*@

    <div class="header">
        <img src="~/content/images/2.png" height="60" alt="dragon" >
    </div>



    <div class="wrapper col-md-offset-1">
        <h4 class="bold">Жанры</h4>
        <div id="genres" class="col-md-3">
            @Ajax.ActionLink("Жанры", "Genres", null, null,
                new AjaxOptions {UpdateTargetId = "genres"}, new {@class = "", id = "genresButton"})
        </div>
    </div>


    <div class="col-md-8 col-md-offset-0">
        @using (Html.BeginForm("RedirectToFind", "Home"))
{
    <input  type="text" name="searchText" class="col-md-9 input-sm" placeholder="введите слово для поиска" />
    <input  type="submit" value="Искать" class="btn btn-sm btn-success col-md-2 col-md-offset-0"/>
}
    </div>
    
    <div id="results"></div>
    <div class="col-md-7 col-md-offset-0">
        @Html.Partial("BookSearch")
    </div>

    @using (Ajax.BeginForm("AuthorSearch", null, new AjaxOptions { UpdateTargetId = "searchAuthorsResults" }, new {hidden="hidden"}))
    {
        <input id="inputAuthor" type="text" name="authorName" />
        <input id="submitAuthor" type="submit" value="Искать"/>
    }
    <div class="col-md-7 col-md-offset-0">
        @Html.Partial("AuthorSearch")
    </div>



<script>
    $('#genresButton').click();
</script>
