@model IEnumerable<eLibrary.Models.Series>

<div id="searchresultsSerie">

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div>
                <input type="radio" name="selectSerie" value="@item.Id" form="addBookForm"/>
                <a href="@Url.Action("ShowSerie", "Series", new {id = item.Id})">
                    @item.Name
                </a>

            </div>
        }
    }


</div>