@model IEnumerable<eLibrary.Models.Series>

<div id="searchresultsSerie">

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div>
            <input type="radio" name="selectSerie" value="@item.Id" form="addBookForm" />
                <label>@item.Name</label>
            </div>
        }
    }


</div>